
.mixin.out
journeymap
local
logs
mods
saves
screenshots
crash-reports
schematics
options.txt
minecraftinstance.json
patchouli_data.json
servers.*
usercache.json
usernamecache.json
WailaErrorOutput.txt
imm_ptl_state.json
*.dat
